*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    width: 100vw;
}
header{
    display: block;
    position: relative;
    left: 10%;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 382px;
}
header h1{
    font-weight: bold;
    margin-bottom: 20px;
}
@media (max-width: 580px ){
    header{
        width: 250px;
    }
}

#img1{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=392,h=392,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2/assets/1649798645270-1424746861.png');
    background-position: left 0% top 20%;
}
#img2{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=984,h=984,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2%2Fassets%2F1649798887631-1424750442.png');

}
#img3{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=984,h=984,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2%2Fassets%2F1649798619495-1424746707.png');
    
}
#img4{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=984,h=984,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2%2Fassets%2F1649798850860-1424750232.png');
    background-position: center bottom 35%;

}
#img5{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=984,h=984,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2%2Fassets%2F1649798682136-1424747667.png');
}
#img6{
    background-image: url('https://cdn.zyrosite.com/cdn-cgi/image/format=auto,w=984,h=984,fit=crop,q=100/cdn-ecommerce/store_01G0FTHP1QA7N17Y1TBRKEH7C2%2Fassets%2F1649798759729-1424749215.png');
    background-position: center bottom 20%;

}
.center-image{
    background-position: center;
    background-size: cover;
}
.image-container{
    height: 350px;
    margin-bottom: 20px;
}
@media (min-width: 768px ) {
    .image-container{
        height: 600px;
    }
}
@media (min-width: 992px ){
    .image-container{
        height: 300px;
    }
}

.product{
    margin-bottom: 30px;
    cursor: pointer;
}
.product h2{font-size: 20px;}
h3{
    color: #797979;
    font-size: 16px;
}
.product:hover > .image-container{
    filter: brightness(0.6);
}
